* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

body {
	margin: 0 auto;
	background-image: url(../images/placeholder/placeholderbg.jpg);
	background-size: cover;
	overflow: auto;
	margin: 10%;
	}

#logo {
/*	display: inline-block;
  	max-width:230px;
  	max-height:95px;
  	width: auto;
  	height: auto;*/
  	width: 400px;
	}

#logoimg {
	display: block;
	width: 100%;
	height: auto;
	position: relative;

}

#content {
	background-color: white;
/*	margin: 10% 10% 0% 10%;
*/	overflow: auto;
}

nav {
	transform: rotate(-90deg);
	transform-origin: left top 0;
/*	display: block;
*/	}

.page {
	display: inline;
	float: left;
/*	margin: 1em;
*/}

.square {
	width: 200px;
	height: 200px;
	display: inline;
	float: left;
	clear: right;
	border: 1px black solid;
	background: white;
}

#footer {
	display: block;
	text-align: center;
}

.social {
	display: block;
}